<%- include common/header.ejs %>

<div id='app' class="g-doc">
    <div class="g-bd">
    	<div class="m-confirm">
	        <details-app></details-app>
	        <delivery-app></delivery-app>
            <privilege-app></privilege-app>
	        <insurance-app></insurance-app>
	        <invoice-app></invoice-app>
            <pay-app></pay-app>
            <settlement-app></settlement-app>
    	</div>
    </div>
</div>

<%- include common/footer.ejs %>
      